# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Poetry
.poetry/
poetry.lock

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Project specific
/data/input/*
/data/output/*
!/data/input/.gitkeep
!/data/output/.gitkeep

# Jupyter Notebooks
.ipynb_checkpoints

# Large model files
*.bin
*.gguf
*.ggml

# Logs
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Excel files
*.xlsx
*.xls